<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Brand & Logo -->
    <a class="navbar-brand">HelloKitties</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <!-- Main menu -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <%# Role-Based Dropdown menu %>
        <%# Role-Based Dropdown menu: if authenticated %>
        <% if user_signed_in? %>
            <div class="dropdown">
                <button class="btn btn-secondary rounded-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 1px solid white;">My account</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">My profile</a>
                    <a class="dropdown-item" href="#">My Cart</a>f
                    <a class="dropdown-item" href="#">Edit profile</a>
                    <%# Role-Based Dropdown menu: if logged in & admin %>
                    <% if current_user.admin %>
                        <a class="dropdown-item" href="#">Espace Admin</a>
                    <% end %>
                    <a class="nav-link" href="#">Log out</a>
                    <%# link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
                </div>
            </div>
        <%# Role-Based Dropdown menu: if anonymous %>
        <%else%>
            <div class="dropdown">
                <button class="btn btn-secondary rounded-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="border: 1px solid white;">Account</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"> Sign up</a>
                    <a class="dropdown-item" href="#">Log In</a>
                </div>
            </div>
        <%end%>
    </div>
</nav>